{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Dashboard</h1>

    <script>
        function updateDashboard() {
            $.ajax({
                url: window.location.href,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, device) {
                        var statusColor = device.status === 'Live' ? 'status-live' : 'status-down';
                        var rowId = 'device-row-' + device.id;
                        var statusCellId = 'status-cell-' + device.id;

                        // Update the status cell with the new status
                        $('#' + statusCellId).html('<span class="' + statusColor + '">' + device.status + '</span>');
                    });
                }
            });
        }

        $(document).ready(function () {
            updateDashboard();
            setInterval(updateDashboard, 20000); // Update the dashboard every 20 seconds
        });
    </script>
    <table id="device-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr id="device-row-{{ device.id }}">
                <td><a href="{% url 'show_real_time_data' device_id=device.device_id %}">{{ device.device_name }}</a></td>
                <td>{{ device.device_id }}</td>
                <td id="status-cell-{{ device.id }}"><span class="status-status">{{ device.status }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="{% url 'logout' %}">Logout</a></p>

{% endblock %}
