<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Dashboard</h1>

    {% if user.is_superuser %}
        <a href="{% url 'add_device' %}" class="add-device-btn">Add Device</a>
    {% endif %}

    <ul>
        {% for device in devices %}
            <li>
                <a href="{% url 'device_detail' device_id=device.id %}">{{ device.device_name }}</a>
                <span class="{% if device.status == 'live' %}status-live{% else %}status-down{% endif %}">{{ device.status }}</span>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}
