<!-- device_info.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Device Information</h1>

    <h2>Device Details</h2>
    <p>Device ID: {{ device.device_id }}</p>
    <p>Device Name: {{ device.device_name }}</p>
    <p>Status: <span class="{% if device.status == 'live' %}status-live{% else %}status-down{% endif %}">{{ device.status }}</span></p>
    <p>Last Data Point Timestamp: {{ device.last_data_timestamp }}</p>


    <p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>
{% endblock %}
