<!-- real_time_graph.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Device Information</h2>
<p>Device ID: {{ devices.device_id}}</p>
<p>Device Name: {{ devices.device_name}}</p>
<p>Status:<span class="{% if devices.status == 'live' %}status-live{% else %}status-down{% endif %}">{{ devices.status }}</span></p>
<p>Avg Current: <span id="avg_current"></span></p>
<p>Avg Voltage: <span id="avg_voltage"></span></p>
<p>Total Power: <span id="total_power"></span></p>
<p>Timestamp: <span id="timestamp"></span></p>
<script>
    function updateRandomNumber() {
        $.getJSON('/real_time_data/', function(data) {
            $('#avg_current').text(data.avg_current);
            $('#avg_voltage').text(data.avg_voltage);
            $('#total_power').text(data.total_power);
            $('#timestamp').text(data.timestamp);
        });
    }

    // Update the random number and sum every 1 second
    setInterval(updateRandomNumber, 1000);
</script>
<p><a href="{% url 'dashboard' %}">Back to the Dashboard</a>.</p>
{% endblock %}